@import "./index.css";
.latestContainer {
  padding: 60px 0;
}
.latestTitle h3 {
  text-align: center;
  color: var(--main-black);
  font-size: 35px;
}
.productCarousel {
  padding: 60px 0;
  width: 82%;
  height: 400px;
  margin: auto;
}
.sliderLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 20px;
}
@media screen and (max-width:650px) {
  .latestTitle h3{
    font-size: 28px;
  }
}